/* Общи настройки */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

header {
    background: #006400;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 100px;
    padding: 20px;
}

/* Секция "Услуги" */
#services {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.service-item h3 {
    font-size: 1.5rem;
    color: #27ae60;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer nav {
    margin: 0.5rem 0;
}

footer nav a {
    color: #FFA500;
}